<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <style th:fragment="student-modal-style">
      .student-modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
      }

      .student-hidden {
        display: none;
      }
    </style>
  </head>
  <body>
    <div
      th:fragment="student-modal"
      id="studentModal"
      class="student-modal-overlay student-hidden"
    >
      <div
        class="bg-[#F1F1F1] rounded-b-[45px] rounded-tl-[45px] w-11/12 max-w-md p-6 shadow-lg"
      >
        <div class="flex justify-end items-center mb-6">
          <button
            class="text-2xl font-bold p-2 cursor-pointer"
            id="studentCloseModalBtn"
          >
            &times;
          </button>
        </div>

        <div>
          <form class="space-y-4"
          th:action="@{/register/aluno/save}"
          th:object="${aluno}"
          method="post">
            <div>
              <input
                type="text"
                placeholder="Nome"
                th:field="*{nomeAluno}"
                class="w-full p-4 bg-white rounded-4xl border-1 border-[#CCCCCC] focus:ring-2 focus:ring-gray-200"
              />
            </div>

            <div>
              <input
                type="text"
                placeholder="Data de Nascimento (Senha)"
                th:field="*{senha}"
                class="w-full p-4 bg-white rounded-4xl border-1 border-[#CCCCCC] focus:ring-2 focus:ring-gray-200"
              />
            </div>
            <input type="hidden" id="modStudEscolaEmail" name="modStudEscolaEmail">
            <div class="flex justify-center mt-6">
              <button
                type="submit"
                class="bg-[#FFE889] text-black font-medium px-10 py-3 rounded-full hover:bg-yellow-300"
              >
                Adicionar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script th:fragment="student-modal-script">
      document.addEventListener("DOMContentLoaded", function () {
        const studentModal = document.getElementById("studentModal");
        const studentCloseBtn = document.getElementById("studentCloseModalBtn");

        const usuarioSalvo = sessionStorage.getItem('usuario');
        if (usuarioSalvo) {
            const usuario = JSON.parse(usuarioSalvo);
            document.getElementById('modStudEscolaEmail').value = usuario.email;
        }

        if (studentModal && studentCloseBtn) {
          studentCloseBtn.addEventListener("click", function () {
            studentModal.classList.add("student-hidden");
          });

          studentModal.addEventListener("click", function (e) {
            if (e.target === studentModal) {
              studentModal.classList.add("student-hidden");
            }
          });

          document.addEventListener("keydown", function (e) {
            if (
              e.key === "Escape" &&
              !studentModal.classList.contains("student-hidden")
            ) {
              studentModal.classList.add("student-hidden");
            }
          });
        }
      });
    </script>
  </body>
</html>
