@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Jersey 10';
  src: url('static/fonts/Jersey10-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}