<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Prototype - Tupi Games</title>
  <link rel="stylesheet" href="/src/main/resources/static/css/style.css">
</head>
<body>
  <header class="cabecalho">
    <h1 class="titulo">Tupi Games</h1>

  </header>
  
  <section id="home">
    <span id="botoes-login">
      <button class="botao-login">
        <img src="/src/main/resources/static/img/aluno-icon.png" alt="Ícone de aluno" width="125" height="125">
        <h2 class="subtitulo">Aluno</h2>

      </button>

      <button class="botao-login">
        <img src="/src/main/resources/static/img/professor-icon.png" alt="Ícone de professor" width="125" height="125">
        <h2 class="subtitulo">Professor</h2>
      </button>

      <button class="botao-login">
        <img src="/src/main/resources/static/img/escola-icon.png" alt="Ícone de escola" width="125" height="125">
        <h2 class="subtitulo">Escola</h2>
      </button>

      <button id="cadastro">Cadastro</button>

    </span>

  </section>
</body>
</html>